header, nav, article, aside, section, footer {
    display:block;
}
header, nav, article, aside, section, footer {
    /* border:1px solid #cccccc; */
    border:1px;
    margin:0px 0px 0px;
    padding:0px;
}
header {
    text-align:center;
}
nav {
    text-align:center;
    padding:5px;
}
nav ul, nav li {
    list-style-tyoe:none;
    display:inline;
    padding:0px 10px;
}
nav h1 {
    display:none;
}
section {
    text-align:center;
}
section h1 {
    background: linear-gradient(#FF9500, #FF5E00);
}
section h2 {
    background: linear-gradient(#FF5E00, #FF1800);
}
footer {
    text-align:center;
}
