header, nav, article, aside, section, footer {
    display: block;
}
header, nav, article, aside, section, footer {
    text-align: center;
    margin: 0px;
    padding: 0px;
}
header {
}
nav {
    padding: 5px;
}
nav ul, nav li {
    list-style-type: none;
    display: inline;
    padding: 0px 10px;
    background: linear-gradient(#FFBC00, #FF9500);
}
nav h1 {
    display: none;
}
section {
    margin: 0px;
    padding: 0px;
}
section h1 {
    background: linear-gradient(#FF9500, #FF5E00);
    margin: 0px;
    padding: 0px;
}
section h2 {
    background: linear-gradient(#FF5E00, #FF1800);
    margin: 0px;
    padding: 0px;
}
@media screen and (max-width: 320px) {
    section h1 span:before, h2 span:before {
        content: "\A";
        white-space: pre;
    }
}
footer {
}
