@charset "utf-8"

body{
  background-color: #00eddc;
  width: 1024px;
  height: 4096px;
}

#top{
  background-color: #fff2cc;
  width: 1024px;
  height: 100px;
}

#container{
  background-color: #51b11d;
  float: left;
  width: 724px;
  height: 3896px;
}

#contents_left{
  background-color: #8856a1;
  /*float: left;*/
  width: 300px;
  height: 250px;
}

#contents{
  background-color: #5389e6;
  /*float: right;*/
  width: 424px;
  height: 3896px;
}

#side_left{
  background-color: #f19c99;
  float: left;
  width: 300px;
  height: 600px;
}

#side_right{
  background-color: #97d007;
  float: right;
  width: 100px;
  height: 100px;
}
