#top{
  background-color: #fff2cc;
}

#container{
  background-color: #51b11d;
}

#contents_left{
  background-color: #8856a1;
}

#contents{
  background-color: #5389e6;
}

#side_left{
  background-color: #f19c99;
}

#side_right{
  background-color: #97d007;
}
