@charset "utf-8"

body{
}

#top{
  background-color: #fff2cc;
  width: 1024px;
  height: 100px;
}

#container{
  background-color: #51b11d;
  float: left;
  width: 200px;
  height: 200px;
}

#contents_left{
  background-color: #8856a1;
  float: left;
  width: 100px;
  height: 200px;
}

#contents{
  background-color: #5389e6;
  float: right;
  width: 100px;
  height: 100px;
}

#side_right{
  background-color: #97d007;
  float: right;
  width: 100px;
  height: 824px;
}

#botton{
  background-color: #f19c99;
  clear: both;
  width: 1024px;
  height: 100px;
}
