@charset "utf-8"

body{
  background-color: #00eddc;
  width: 1024px;
  height: 4096px:
}

#top{
  background-color: #fff2cc;
}

#container{
  background-color: #51b11d;
}

#contents_left{
  background-color: #8856a1;
  float: left;
}

#contents{
  background-color: #5389e6;
  float: right;
}

#side_left{
  background-color: #f19c99;
  float: left;
}

#side_right{
  background-color: #97d007;
}
