@charset "utf-8"

body{
  width: 1024px;
}

#top{
  background-color: #fff2cc;
  width: 1024px;
  height: 100px;
}

#container{
  background-color: #51b11d;
  float: left;
  width: 1024px;
  height: 824px;
}

#contents_left{
  background-color: #8856a1;
  float: left;
  width: 212px;
  height: 824px;
}

#contents{
  background-color: #5389e6;
  margin-top: 0px;
  float: left;
  width: 640px;
  height: 600px;
}

#contents_right{
  background-color: #97d007;
  margin-top: 0px;
  float: right;
  width: 212px;
  height: 824px;
}

#botton{
  background-color: #f19c99;
  clear: both;
  width: 1024px;
  height: 100px;
}
