@charset "utf-8";
/* -------------------------------------------------- 
	Copyright: (c)visual and echo japan
	Created: 2014-12-11
 -------------------------------------------------- */
 
/*----------------------------------------------------
	#section
----------------------------------------------------*/
/*--------#sec01----------*/
#sec01 {
	margin-top: 107px;
}
#sec01 #secInner01 {
	height: 311px;
	padding: 100px 0 89px;
	margin-top: 107px;
	background: url(../images/01_bg_pic.jpg) no-repeat 0 0;
}
#sec01 #secText01 {
	width: 690px;
	padding: 70px 75px 25px;
	margin: 0 auto;
	text-align: center;
	color: #fff;
	margin-bottom: 15px;
	background-color: rgba(0,0,0,0.6);
	position: relative;
}
#sec01 h2 {
	line-height: 1.0;
	margin-bottom: 25px;
}
#sec01 h2 span {
	font-size: 26px;
}
#sec01 p {
	font-size: 14px;
	font-weight: bold;
	text-shadow: 1px 1px 10px #000;
}
#sec01 #secText01 #logoLower {
	position: absolute;
	left: 337px;
	top: -26px;
}
#sec01 #secText01 p {
	letter-spacing: 0.1em;
}
#sec01 p.btnP {
	font-weight: normal;
}
#sec01 p.btnP a {
	display: block;
	width: 160px;
	height: 28px;
	margin: 0 auto;
	background: url(../images/btn_open_off.png) no-repeat 0 0;
}
#sec01 p.btnP a:hover {
	background: url(../images/btn_open_on.png) no-repeat 0 0;
}
#sec01 p.btnP.active a {
	display: block;
	width: 160px;
	height: 28px;
	margin: 0 auto;
	background: url(../images/btn_close_off.png) no-repeat 0 0;
}
#sec01 p.btnP.active a:hover {
	background: url(../images/btn_close_on.png) no-repeat 0 0;
}
#sec01 #blueList {
	display: none;
}
#sec01 #blueList #blueList01,#sec01 #blueList #blueList02,#sec01 #blueList #blueList03 {
	width: 100%;
	padding: 40px 0;
	margin-bottom: 10px;
}
#sec01 #blueList #blueList01 {
	background-color: #008cdc;
}
#sec01 #blueList #blueList02 {
	background-color: #00a0e6;
}
#sec01 #blueList #blueList03 {
	background-color: #00b4f0;
	margin-bottom: 20px;
}
#sec01 #blueList h3 {
	font-size: 24px;
	font-weight: normal;
	margin-bottom: 5px;
}
#sec01 #blueList h3 span {
	font-size: 16px;
}
#sec01 #blueList p {
	font-size: 13px;
	font-weight: normal;
	text-shadow: none;
}
#sec01 #blueList #blueList01 #blueListInner01,#sec01 #blueList #blueList02 #blueListInner02,#sec01 #blueList #blueList03 #blueListInner03 {
	width: 580px;
	height: 80px;
	margin: 0 auto;
	padding: 13px 0 24px 160px;
}
#sec01 #blueList #blueList01 #blueListInner01 {
	background: url(../images/ico_blue_01.png) no-repeat center left;
}
#sec01 #blueList #blueList02 #blueListInner02 {
	background: url(../images/ico_blue_02.png) no-repeat center left;
}
#sec01 #blueList #blueList03 #blueListInner03 {
	background: url(../images/ico_blue_03.png) no-repeat center left;
}

/*--------#sec02----------*/
#sec02 #secInner02 {
	height: 316px;
	padding: 120px 0 64px;
	background: url(../images/02_bg_pic.jpg) no-repeat 0 0;
}
#sec02 #secText02 {
	width: 724px;
	padding: 50px 54px 25px;
	margin: 0 auto;
	text-align: center;
	color: #fff;
	margin-bottom: 15px;
	background-color: rgba(0,0,0,0.6);
	position: relative;
}
#sec02 #secText02 p {
	letter-spacing: 0.1em;
}
#sec02 h2 {
	line-height: 1.0;
	margin-bottom: 25px;
}
#sec02 p {
	font-size: 14px;
	font-weight: bold;
}
#sec02 p.btnP {
	font-weight: normal;
}
#sec02 p.btnP a {
	display: block;
	width: 160px;
	height: 28px;
	margin: 0 auto;
	background: url(../images/btn_open_off.png) no-repeat 0 0;
}
#sec02 p.btnP a:hover {
	background: url(../images/btn_open_on.png) no-repeat 0 0;
}
#sec02 p.btnP.active a {
	display: block;
	width: 160px;
	height: 28px;
	margin: 0 auto;
	background: url(../images/btn_close_off.png) no-repeat 0 0;
}
#sec02 p.btnP.active a:hover {
	background: url(../images/btn_close_on.png) no-repeat 0 0;
}
#sec02 #orangeList {
	display: none;
}
#sec02 #orangeList #orangeList01,#sec02 #orangeList #orangeList02,#sec02 #orangeList #orangeList03,#sec02 #orangeList #orangeList04 {
	width: 100%;
	padding: 40px 0;
	margin-bottom: 10px;
}
#sec02 #orangeList #orangeList01 {
	background-color: #ff7800;
}
#sec02 #orangeList #orangeList02 {
	background-color: #ff8c00;
}
#sec02 #orangeList #orangeList03 {
	background-color: #ffa000;
}
#sec02 #orangeList #orangeList04 {
	background-color: #ffb400;
	margin-bottom: 0;
}
#sec02 #orangeList h3 {
	font-size: 24px;
	font-weight: normal;
	margin-bottom: 5px;
	letter-spacing: -1.1px;
}
#sec02 #orangeList h3 span {
	font-size: 16px;
}
#sec02 #orangeList p {
	font-size: 13px;
	font-weight: normal;
	text-shadow: none;
}
#sec02 #orangeList #orangeList01 #orangeListInner01,#sec02 #orangeList #orangeList02 #orangeListInner02,#sec02 #orangeList #orangeList03 #orangeListInner03,#sec02 #orangeList #orangeList04 #orangeListInner04 {
	width: 580px;
	height: 80px;
	margin: 0 auto;
	padding: 13px 0 27px 160px;
}
#sec02 #orangeList #orangeList01 #orangeListInner01 {
	background: url(../images/ico_orange_01.png) no-repeat center left;
}
#sec02 #orangeList #orangeList02 #orangeListInner02 {
	background: url(../images/ico_orange_02.png) no-repeat center left;
}
#sec02 #orangeList #orangeList03 #orangeListInner03 {
	background: url(../images/ico_orange_03.png) no-repeat center left;
}
#sec02 #orangeList #orangeList04 #orangeListInner04 {
	background: url(../images/ico_orange_04.png) no-repeat center left;
}














