@charset "utf-8";
/* -------------------------------------------------- 
	Copyright: (c)visual and echo japan
	Created: 2014-12-11
 -------------------------------------------------- */
 
/*----------------------------------------------------
	#section
----------------------------------------------------*/
/*--------#sec01----------*/
.secInner {
	position: relative;
	overflow: hidden;
}
#sec01 {
	margin-top: -109px;
	padding-top: 106px
}
#sec01 .secInner {
	margin: 107px auto 20px;
	position: relative;
	overflow: hidden;
}
#sec01 h2 {
	line-height: 1.0;
	margin-bottom: 15px;
}
#sec01 p {
	font-size: 15px;
	font-weight: bold;
	text-shadow: 1px 1px 10px #000;
	letter-spacing: 0.1em;
}
#sec01 #secText01 {
	text-align: center;
	position: absolute;
	left: 307px;
	top: 220px;
}
#sec01 #secText01 h2, #sec01 #secText01 p {
	filter:alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
}
#sec01 #sec01ImgA {
	width: 427px;
	height: 600px;
	float: left;
	background: url(../images/01_bg_pic_a.jpg) no-repeat 0 0;
	filter:alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
}
#sec01 #sec01ImgB {
	width: 426px;
	height: 600px;
	float: left;
	background: url(../images/01_bg_pic_b.jpg) no-repeat 0 0;
	filter:alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
}
#sec01 #sec01ImgC {
	width: 427px;
	height: 600px;
	float: left;
	background: url(../images/01_bg_pic_c.jpg) no-repeat 0 0;
	filter:alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
}
/*--------#sec02----------*/
#sec02 {
	margin-top: -105px;
	padding-top: 105px
}
#sec02 .secInner {
	height: 340px;
	padding: 90px 0 110px;
	background: url(../images/02_bg_pic_a.jpg) no-repeat 0 0;
	margin-bottom: 20px;
	position: relative;
	overflow: hidden;
}
#sec02 h2 {
	margin-bottom: 20px;
}
#sec02 p {
	font-size: 15px;
	font-weight: bold;
	text-shadow: 1px 1px 10px #000;
	margin-bottom: 40px;
	letter-spacing: 0.1em;
}
#sec02 p.btnP {
	font-weight: normal;
}
#sec02 #secText02 {
	text-align: center;
}
#sec02 a.btnHover01 {
	display: block;
	width: 160px;
	height: 28px;
	background: url(../images/btn_more01_on.png) no-repeat 0 0;
}
/*--------#sec03----------*/
#sec03 {
	margin-top: -105px;
	padding-top: 105px
}
#sec03 .secInner {
	height: 300px;
	padding: 140px 0 100px;
	background: url(../images/03_bg_pic_a.jpg) no-repeat 0 0;
	color: #000;
	margin-bottom: 20px;
	position: relative;
	overflow: hidden;
}
#sec03 h2 {
	line-height: 1.0;
	margin-bottom: 20px;
}
#sec03 p {
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 20px;
	letter-spacing: 0.1em;
}
#sec03 p.btnP {
	font-weight: normal;
}
#sec03 #secText03 {
	text-align: center;
}
#sec03 a:link,#sec03 a:visited,#sec03 a:active,#sec03 a:hover{
	color:#000;
	text-decoration:none;
}
/*--------#sec04----------*/
#sec04 {
	margin-top: -105px;
	padding-top: 105px
}
#sec04 .secInner {
	padding: 100px 0 100px;
	background: url(../images/04_bg_pic_a.jpg) no-repeat 0 0;
	color: #000;
	position: relative;
	overflow: hidden;
}
#sec04 #secText04 {
	text-align: center;
	color: #fff;
	margin-bottom: 15px;
}
#sec04 h2 {
	font-size: 16px;
	font-weight: normal;
	text-shadow: 1px 1px 2px #000;
}
#sec04 #partnerList {
	width: 888px;
	margin: 0 auto;
	padding: 19px 36px 5px;
	overflow: hidden;
	background-color: rgba(91,91,91,0.8);
	position: relative;
}
#sec04 #partnerList ul {
	overflow: hidden;
	margin: 0 -24px 14px 0;
}
#sec04 #partnerList ul li {
	width: 128px;
	height: 74px;
	float: left;
	margin-right: 24px;
}

/*--------#sec05----------*/
#sec05 {
	margin-top: -105px;
	padding-top: 105px
}
#sec05 .secInner {
	width: 1080px;
	padding: 70px 100px;
	margin: 0 auto;
	background-color: #00b4f0;
	line-height: 1.8;
	font-size: 13px;
	position: relative;
	overflow: hidden;
}
#sec05 h2 {
	font-size: 20px;
	font-weight: normal;
}
#sec05 #secText05A {
	width: 230px;
	margin-right: 85px;
	float: left;
}
#sec05 #secText05A p {
	word-break: break-all;
}
#sec05 #secText05A h2 {
	margin-bottom: 52px;
}
#sec05 #secText05B {
	width: 320px;
	margin-right: 85px;
	float: left;
}
#sec05 #secText05B h2 {
	margin-bottom: 52px;
}
#sec05 #secText05C {
	width: 360px;
	float: left;
}
#sec05 #secText05C p {
	word-break: break-all;
}
#sec05 #secText05C h2 {
	margin-bottom: 15px;
}
#sec05 #secText05C #secText05C_Text {
	width: 185px;
	float: left;
	margin-bottom: 25px;
}
#sec05 #secText05C #secText05C_Pic {
	float: right;
	margin-top: 30px;
}
#sec05 #secText05C span {
	font-size: 11px;
}
/*--------#sec06----------*/
#sec06 {
	width: 1080px;
	padding: 70px 100px;
	margin: 0 auto;
	background-color: #3c3c41;
}
#sec06 h2 {
	font-size: 20px;
	font-weight: normal;
	margin-bottom: 15px;
}
#sec06 dl {
	width: 329px;
	float: left;
	margin-right: 36px;
}
#sec06 dl dt {
	width: 80px;
	float: left;
	color: #50b4e6;
	border-top: 1px solid #50b4e6;
	padding: 5px 0;
	margin-right: 10px;
}
#sec06 dl dd {
	width: 239px;
	float: left;
	border-top: 1px dotted #fff;
	padding: 5px 0;
}
#sec06 dl#sec06DlLast {
	margin-right: 0;
}
/*--------#sec07----------*/
#sec07 #map-canvas {
	width:100%;
	height:380px;
}
/*--------#secWhite----------*/
#secWhite {
	margin-top: -105px;
	padding-top: 105px
}
#secWhite .secInner {
	width: 1280px;
	margin: 0 auto;
	background-color: #fff;
	padding: 45px 0;
	position: relative;
	overflow: hidden;
}
#secWhite h2 {
	font-size: 20px;
	font-weight: normal;
	color: #000;
	margin-bottom: 34px;
}
#secWhite #secWhiteText {
	width: 1080px;
	margin: 0 auto;
}
#secWhite #secWhiteText ul {
	margin-bottom: 20px;
}
#secWhite #secWhiteText ul li {
	background: url(../images/ico_pdf.png) no-repeat 0 1px;
	padding: 0 0 10px 20px;
	margin-bottom: 10px;
}
#secWhite #secWhiteText ul li a:link,#secWhite #secWhiteText ul li a:visited,#secWhite #secWhiteText ul li a:active {
	color: #000;
	text-decoration: underline;
}
#secWhite #secWhiteText ul li a:hover {
	text-decoration: none;
}













