@charset "utf-8";
/* -------------------------------------------------- 
	Copyright: (c)visual and echo japan
	Created: 2014-12-11
 -------------------------------------------------- */
 
/*----------------------------------------------------
	#section
----------------------------------------------------*/

/*--------#sec01----------*/

<style>
table {
	border-collapse: collapse;
}
td {
	border: solid 1px;
	padding: 0.5em;
}
</style>


#sec01 {
	margin-top: -109px;
	padding-top: 106px
}
#sec01 .secInner {
	width: 1080px;
	margin: 107px auto 20px;
	padding: 60px 100px;
	position: relative;
	overflow: hidden;
	background-color: #3c3c41;
}
#sec01 h2 {
	float: left;
	font-size: 18px;
	font-weight: normal;
	margin-bottom: 15px;
	line-height: 1.4;
}
#sec01 h2 span {
	font-size: 11px;
}
#sec01 #pagesBody {
	width: 780px;
	float: right;
}
#sec01 #pagesBody a:link,#sec01 #pagesBody a:visited,#sec01 #pagesBody a:active {
	text-decoration: underline;
}
#sec01 #pagesBody a:hover {
	text-decoration: none;
}
#sec01 #pagesBody ul.list {
	padding-left: 1.5em;
	margin-bottom: 20px;
}
#sec01 #pagesBody ul.list li {
	padding-left: 1.5em;
	text-indent: -1.5em;
}
#sec01 #pagesBody h3 {
	font-size: 14px;
	font-weight: normal;
	border-bottom: 1px solid #fff;
	padding-bottom: 3px;
	margin-bottom: 10px;
}
#sec01 #pagesBody dl {
	margin-bottom: 20px;
}
#sec01 #pagesBody dt {
	margin-bottom: 5px;
}
#sec01 #pagesBody dl.dlLast {
	margin-bottom: 30px;
}
#sec01 #pagesBody ol {
	list-style-type: decimal;
	padding-left: 2.3em;
}
#sec01 #pagesBody ol li {
	text-indent: -0.3em;
}
#sec01 #pagesBody ul#press li {
	background: url(../../images/ico_pdf.png) no-repeat 0 1px;
	padding: 0 0 0 20px;
	margin-bottom: 20px;
}
#sec01 #pagesBody .smallTitle {
	font-size: 14px;
	padding-bottom: 5px;
}
#sec01 #pagesBody .qTitle {
	color: #50b4e6;
}







